.dancing-script {

  font-family: 'Dancing Script', cursive;
  font-weight:400;
  font-size: 1.75em;
  color: white;

}

.body, div, p, h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;

}


body {
  background:#fff;
}

.btn {
  padding:10px 15px;
  font-size:14px;
  text-transform: uppercase;
  border-radius:0;

  &--orange {
    background:#f2822f;
    color:#fff;

    &:hover {
      background:darken(#f2822f, 10%);
      color:#fff;
    }
  }
}

.siteHeader {
  background:url('../img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: left center;
  height:120px;
  width:100%;
  position: relative;
}
